= form_with model: (@path), local:true do |f|
  = f.label :name, "File Name"
  = f.text_field :name
  %br
  = f.label :activity, "Activity Type"
  = f.select :activity, options_for_select(Gpx.activities.keys.map { |activity| [activity.humanize, activity]}, @gpx.activity)
  %br
  - unless @gpx.persisted?
    = f.file_field :file
  - else
    =link_to "Download GPX on file", @gpx.file, download: @gpx.file.filename
  %br
  %br
  = f.submit
