.container-fluid
  %h1.text-center.text-header #{current_user.full_name}'s GPX Files
  .row
    .col
    .col-8.text-background
      %table.table
        %tr
          %th File Name
          %th Activity Type
          %th Date Uploaded
          %th Last Uploaded
        - @gpxes.each do |g|
          %tr
            %td= g.name
            %td= g.activity.titleize
            %td= g.created_at
            %td= g.updated_at
            %td= link_to "Elevation Profiles", gpx_elevation_graphs_path(g), :class => "index-link"
            %td= link_to "Topographic Map", :class => "index-link"
            %td= link_to "Edit file", edit_gpx_path(g), :class => "index-link"
            %td= link_to "Delete", gpx_path(g), method: :delete, :class => "index-link"
      =link_to "Upload New GPX File", new_user_gpx_path, :class => "index-link"
      %br
      %br
      =link_to "Home", root_path, :class => "index-link"
    .col

