= form_with model: [@gpx, @elevationgraph], local:true do |f|
  = f.label :chart_title, "Chart Title"
  = f.text_field :chart_title
  %br
  = f.label :x_title, "X Axis Label"
  = f.text_field :x_title
  %br
  = f.label :y_title, "Y Axis Label"
  = f.text_field :y_title
  %br
  = f.label :size, "Choose Portrait Size"
  = f.collection_radio_buttons :size, Elevation.sizes, :first, :first
  %br
  %br
  = f.submit
