= form_with model: [@gpx, @elevation_graph], local:true do |f|
  - if @elevation_graph.errors.any?
    #error_explanation
      %h2
        = pluralize(@elevation_graph.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @elevation_graph.errors.full_messages.each do |msg|
          %li= msg

  = f.label :chart_title, "Chart Title"
  = f.text_field :chart_title
  %br
  = f.label :x_title, "X Axis Label"
  = f.text_field :x_title
  %br
  = f.label :y_title, "Y Axis Label"
  = f.text_field :y_title
  %br
  = f.label :size, "Choose Portrait Size"
  = f.select :size, options_for_select(ElevationGraph.sizes.keys.map { |size| [size.humanize, size]}, @elevation_graph.size)
  %br
  = f.label :units, "Unit System"
  = f.select :units, options_for_select(ElevationGraph.units.keys.map { |unit| [unit.humanize, unit]}, @elevation_graph.units)
  %br
  %br
  = f.submit
