.container-fluid
  %h1.text-center.text-header Elevation profile for #{@elevation_graph.chart_title}
  .row.text-center
    .col-8
      =link_to "Profile Index", gpx_elevation_graphs_path(@elevation_graph.gpx_id), :class => 'body-link'
      #elevation_container
        :javascript
          #{render 'plot.js'}
    .col.text-background
      %h2 Want to see this profile in your home?







      = form_tag charges_path do
        %article
          %label Price: #{@elevation_graph.price.value/100}
          - if flash[:error].present?
            #error_explanation
              %p= flash[:error]
        %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js", data: {amount: @elevation_graph.price.value, description: @elevation_graph.chart_title, key: Rails.configuration.stripe[:publishable_key]}}

