= form_with model: [@gpx, @topographic_map], local:true do |f|
  = f.label :chart_title, "Chart Title"
  = f.text_field :chart_title
  %br
  = f.label :size, "Choose Portrait Size"
  = f.select :size, options_for_select(ElevationGraph.sizes.keys.map { |size| [size.humanize, size]}, @topographic_map.size)
  %br
  %br
  = f.submit
