!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Contour
    %script{:src => "https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js"}
    %script{:src => "//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js"}
    %link{:href => "https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'Contour.jpg'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light
      %a.navbar-brand{:href => "#"} Contour
      %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            .nav-link=link_to "Home", root_path
          %li.nav-item
            .nav-link=link_to "FAQ", pages_faq_path
          -if user_signed_in?
            %li.nav-item
              .nav-link=link_to "Create", new_user_gpx_path(current_user)
        - if user_signed_in?
          %ul.navbar-nav.ml-auto
            %li.nav-item
              .nav-link=link_to "View Orders", user_orders_path(current_user)
            %li.nav-item
              .nav-link=link_to "View Profile", user_path(current_user)
            %li.nav-item
              .nav-link=link_to "View Files", user_gpxes_path(current_user)
            %li.nav-item
              .nav-link=link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          %ul.navbar-nav.ml-auto
            %li.nav-item
              .nav-link=link_to "Register Account", new_user_registration_path
            %li.nav-item
              .nav-link=link_to "Login", new_user_session_path

    = yield
