!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Contour
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} Contour
      %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => root_path}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#"} FAQ
          %li.nav-item
            %a.nav-link{:href => "#"} Create
        - if user_signed_in?
          %ul.navbar-nav.ml-auto
            Logged in as
            %strong= current_user.email
            %li.nav-item
              %a.nav-link{:href => user_path(current_user)} View Profile
            %li.nav-item
              %a.nav-link{:href => "#"} See GPX Files
            %li.nav-item
              %a.nav-link{:href => destroy_user_session_path, :method => :DELETE} Logout
        - else
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link{:href => new_user_registration_path} Create Account
            %li.nav-item
              %a.nav-link{:href => new_user_session_path} Login



    = yield
